html {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

h1 {
    margin-left: 1rem;
    padding-top: 1rem;
} 

h4 {
    padding-top: 1rem;
    margin-left: 1rem;
}
.container {
    width: 25rem;
    height: 25rem;
    position: absolute;
    left: 30%;
    top: 40%;
    background-color: aqua;
    position: relative;
}

.object {
    width: 5rem;
    height: 5rem;
    
    left: 2rem;
    position: absolute;

    border-radius: 6rem;

    
    background-color: red;
}